[user]
    name = Thiago Tamosauskas
    email = thiago@simplesconsultoria.com.br

[branch]
    autosetupmerge = true

[push]
    default = current

[color]
    ui = true
    diff = auto
    branch = auto
    status = auto

[core]
    excludesfile = .gitignore
    editor = "'C:/Arquivos de Programas/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin"
	autocrlf = input
    
[alias]
    st = status
    ci = commit -v
    cia = commit -v -a
    b = branch
    co = checkout
    cp = cherry-pick
    df = diff
    l = log
    ll = log -p
    reha = reset --hard
    up = pull
    pom = push origin master
